@font-face {
    font-family: 'November';
    src: url('../fonts/November.woff2') format('woff2'),
        url('../fonts/November.woff') format('woff'),
        url('../fonts/November.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
