// Colors
$color-black: #000;
$color-white: #fff;
$color-grey: #999;
$color-grey-lightest: #f1f2f2;
$color-blue: #136B86;
$color-yellow: #f0af31;
$color-red: #e02b20;

$color-error: $color-black;
$color-success: green;

$border-radius: 7px;
$border-radius-small: 3px;
$slot-border-width: 3px;

$font-family-primary: 'November', courier, serif;
$font-weight-normal: 300;
$font-weight-semi-bold: 500;
$font-weight-bold: 700;

$screen-sm-min: 768px;
$screen-xs-max: ($screen-sm-min - 1);
$screen-md-min: 992px;
$screen-sm-max: ($screen-md-min - 1);
$screen-lg-min: 1200px;
$screen-md-max: ($screen-lg-min - 1);

$form-input-border-empty: #d8d8d8;
$form-input-border-filled: $color-black;
